/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.cell-0-0 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.cell-0-1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

.cell-0-2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}

.cell-1-0 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.cell-1-1 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.cell-1-2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}

.cell-2-0 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.cell-2-1 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.cell-2-2 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
}

.btn {
    cursor: pointer;
}

.grid-container {
    display: inline-grid;
    width: 100%;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 33% auto;
    grid-gap: 1px;
    float: right;
}

.vertically-center {
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.forbidden-action {
    cursor: not-allowed;
}

.result-screen {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.hide {
    display: none;
}

.card-body {
    max-height: 7000px;
    transition: max-height .3s ease-in-out;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.text-content {
    padding: 25px;
}

.hide-by-height {
    max-height: 1px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.project{
    display:inline-flex;
    max-width:5000px;
    transition: .3s ease-in-out;
}

@media screen and ( min-width:992px){
    .project-shrink {
        max-width: 33%;
    }
}

.clickable {
    cursor: pointer;
}

.in-text-image {
    padding: 50px;
    max-width: 100%;
}

@media screen and (max-width:992px) {
    .in-text-image {
        padding: 10px;
    }
}

.dont-break{
    white-space:pre;
}

.large-line-break {
    visibility:hidden;
    height:1px;
}

* {
    font-family: 'Exo', sans-serif;
}

.site-logo {
    font-family: 'Cinzel', serif;
}

.go-back-up-btn {
    position: fixed;
    bottom: -10vh;
    right: 10%;
    z-index: 5;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.show {
    bottom: 10vh;
    opacity: 1;
}