<h4 class="mt-5 btn-artificial-inteligence">Artificial Inteligence</h4>
<div class="p-4">
    Once you get authenticated you will gain authorization to enter the
    <span class="border rounded p-1 dont-break">Game Board</span> and play vs one of 2
    <span class="border rounded p-1 dont-break">AI</span>, the
    <span class="border rounded p-1 dont-break">Easy</span> one and the
    <span class="border rounded p-1 dont-break">Not So Easy</span>.<hr class="large-line-break" />
    The
    <span class="border rounded p-1 dont-break">Easy</span> just returns a random available position as a move. It is a really dumb
    <span class="border rounded p-1 dont-break">AI</span> that can make nonsense moves as it can be impossible to beat (althought chances are very slim for that to happen).<hr class="large-line-break" />
    The
    <span class="border rounded p-1 dont-break">Not So Easy</span>
    <span class="border rounded p-1 dont-break">AI</span> makes more calculated moves. It looks on the board for a way to win in one move, and attempts to block any win attemps the opponent might have in one move.
    Not the most intelligent
    <span class="border rounded p-1 dont-break">AI</span> around but is a necessary evil in order to allow the player a possibility to win games.
    <span class="border rounded p-1 dont-break">Profile Picture</span>
</div>