<h4 class="mt-5 btn-authorization-authentication">Authentication and Authorization</h4>
<div class="p-4">
    If you do not yet have an account, creating one is as easy as selecting a
    <span class="border rounded p-1 dont-break">Username</span>
    and a
    <span class="border rounded p-1 dont-break">Password</span>.
    Just hit the navigaton tab
    <span class="border rounded p-1 dont-break">Register</span>
    and insert those fields. The requirements are intencionally easy to fullfill as security is not as important as usability in this case.
    The
    <span class="border rounded p-1 dont-break">Register</span>
    page will look like the following:
    <div class="text-center"><img class="in-text-image" src="~/img/Register.png" /></div>
    After you register you automatically stay logged in.
    If you previously had registered and you are returning to the game, visit the
    <span class="border rounded p-1 dont-break">Login</span>
    page, and insert your details, the ones previously used to create your account.
    The login page should look like the following:
    <div class="text-center"><img class="in-text-image" src="~/img/Login.png" /></div>
    Once logged in your
    <span class="border rounded p-1 dont-break">Username</span>
    should appear in the top right like the following:
    <div class="text-center"><img class="in-text-image" src="~/img/yourname.png" /></div>
    By clicking on it, or the image pre-pending it you visit the
    <span class="border rounded p-1 dont-break">Manage your Account</span>
    page. From there you can change your
    <span class="border rounded p-1 dont-break">Username</span>,
    <span class="border rounded p-1 dont-break">Password</span> and
    <span class="border rounded p-1 dont-break">Profile Picture</span>
    <div class="text-center"><img class="in-text-image" src="~/img/ManageYourAccount.png" /></div>
</div>