<h4 class="mt-5 btn-ui">User Interface</h4>
<div class="p-4">
    I used a combination of
    <span class="border rounded p-1">CSS</span> and
    <span class="border rounded p-1">JQuery</span>
    to create the following design <span class="font-weight-bold">for the Leaderboards</span>
    <div class="text-center"><img class="in-text-image" src="~/img/LeaderBoards.png" /></div>
    and the following  <span class="font-weight-bold">for the TicTacToe Game Board.</span>
    <div class="text-center"><img class="in-text-image" src="~/img/GameBoard.png" /></div>
    Both can be visited by clicking the <span class="border rounded p-1">Tic-Tac-Toe</span> navigation button to enter the Leaderboards screen, and then selecting a difficulty will lead you to the <span class="border rounded p-1">Tic Tac Toe Game Board</span>.
    Login is required to visit that page.
</div>